/* ======================================= *\
   Campaign Page
\* ======================================= */

body {
    color: #333;
    position: relative;
}

section {
    width: 950px;
    margin: 0 auto;
    padding: 30px 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.avatar img {
    width: 150px;
}

.progress {
    width: 780px;
    border-radius: 7px;
    height: 32px;
    position: relative;
    overflow: hidden;
    background-color: #a1bc1d;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbce1b), color-stop(2px, #a1bc1d), color-stop(100%, #82a12f));
    background-image: -webkit-linear-gradient(#bbce1b 0%, #a1bc1d 2px, #82a12f);
    background-image: -moz-linear-gradient(#bbce1b 0%, #a1bc1d 2px, #82a12f);
    background-image: -o-linear-gradient(#bbce1b 0%, #a1bc1d 2px, #82a12f);
    background-image: linear-gradient(#bbce1b 0%, #a1bc1d 2px, #82a12f);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.fuse {
    width: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 1s ease;
    background: repeating-linear-gradient(-55deg,#555,#555 10px,#666 10px,#666 20px);
    height: 32px;
}

.name {
    font-family: "MuseoSansRounded-500";
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.progressLabel {
    font-size: 20px;
    margin-top: 10px;
}

.donate, .invite, .add_donor, .send_invite, .send_donation, .cancel {
    margin-top: 10px;
    width: 90px;
    padding: 0;
    text-align: center;
    height: 38px;
    line-height: 36px;
}

.content {
    clear: both;
    padding-top: 20px;
}

.feed {
    float: left;
    width: 620px;
}

.feed .item {
    border-bottom: 1px solid #ddd;
    padding: 20px 20px 20px 0;
}

.feed .item.hidden {
    display: none;
}

.feed .item .date {
    color: #999;
    font-size: 13px;
    text-transform: uppercase;
}

.feed .item .text {
    font-size: 16px;
    padding-top: 5px;
}

.tiers {
    float: right;
    background-color: #efefef;
    padding: 20px;
    width: 250px;
    border-radius: 5px;
}

.tiers .title {
    font-family: "MuseoSansRounded-500";
    font-size: 25px;
    padding-bottom: 20px;
}

.tiers .tier {
    font-family: "MuseoSansRounded-500";
    font-size: 40px;
    padding-bottom: 15px;
}

.tiers .prize {
    padding-top: 10px;
    padding-bottom: 30px;
}

.clearfix {
    clear: both;
}

#lean_overlay {
position: absolute;
z-index: 10000;
top: 0px;
left: 0px;
height:100%;
width:100%;
background: #ccc;
display: none;
}

#invite, #donate {
width: 600px;
display:none;
background: #FFF;   
}

.form-title{
    font-size: 20px;
}

.add_donor, .cancel{
  width: 200px;
    margin-right: 5px;
}

.send_invite, .send_donation{
    width: 200px;
    margin-left:5px;
}

.close_button {
    background-image: url('images/close.png');
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.email_sent{
    font-size: 20px;
    padding: 10px 0;
    font-family: "MuseoSansRounded-500";
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
}

@media (max-width: 700px) {
    
    section {
        width: 300px;
    }
    
    .avatar {
        float: none;
        margin: 0 auto;
    }
    
    .name {
        text-align: center;
    }
    
    .progress {
        width: 300px;
    }
    
    .progressLabel {
        text-align: center;
    }
    
    .feed {
        width: 100%;
    }
    
    .tiers {
        display: none;
    }
}
