/* ======================================= *\
   Landing Page
\* ======================================= */

header {
    text-align: center;
}

.floaters {
    margin-top: 30px;
    margin-bottom: 30px;
}
 
.floatingBox {
    display: inline-block;
    width: 300px;
    font-family: "MuseoSansRounded-100";
    align-content: center;
    text-align: center;
    position: relative;
    vertical-align: top;
}

.floatingBox.family img {
    padding-bottom: 11px;
}

.floatingBox.rewards img {
    padding-bottom: 10px;
}