body {
    padding-top: 1px;
    margin-top: -1px;
    padding-bottom: 1px;
    margin-bottom: -1px;
}

/* ======================================= *\
   Landing Page
\* ======================================= */



/* ======================================= *\
   Setup Page
\* ======================================= */



/* ======================================= *\
   Campaign Page
\* ======================================= */

.campaignPage .progress {
    width: 300px;
}

.campaignPage .fire {
    height: 50px;
}

.campaignPage .fuse {
    background-image: url(images/fuse.jpg);
    height: 11px;
    margin-top: -10px;
}
